@font-face {
  font-family: "MesloLGLDZ Nerd Font Mono";
  src: local("MesloLGLDZ Nerd Font Mono"),
    url("/fonts/MesloLGLDZNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "MesloLGLDZ Nerd Font Mono", monospace;
}

body {
  line-height: calc(1em + 0.5rem);
  background: hsl(240, 20%, 6%);
  color: hsl(240, 42%, 92%);
}

main {
  display: grid;
  grid-template-columns: minmax(auto, 1280px);
  padding: 48px 0px;
  gap: 48px;
  justify-self: center;
}

img {
  width: 100%;
}

.metadata dl {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: hsl(240, 42%, 82%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
}

.metadata dt {
  font-weight: 600;
}

.date-list {
    list-style: none;
    padding: 0;
}

.date-list li {
    margin-bottom: 1rem;
}

.date-list a {
    color: hsl(240, 42%, 92%);
    text-decoration: none;
    font-size: 1.2rem;
}

.date-list a:hover {
    text-decoration: underline;
}
